.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess
!system/.htaccess
!system/*/.htaccess

composer.lock

config.php
database.php
site_config.php

/vendor/
/theme/

*.zip
*.sql

uploads/
node_modules/
stock-csvs/